body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: Tahoma;
  background-color: #b1beb3;
  border-color: #c58781;
  font-size: 16px;
  color: #313a49;
}

h1,
p {
  margin: 1em auto;
  text-align: center;
}

p {
  font-style: italic;
}

form {
  width: 60vw;
  min-width: 300px;
  max-width: 500px;
  display: block;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 0.5rem 0;
  border-bottom: 3px solid #859988;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
  display: inline;
}

input[type="submit"] {
  display: block;
  width: 30%;
  margin: 1em auto;
  height: 2em;
  font-size: 1rem;
  background-color: #90a291;
  border-color: #6f8570;
  min-width: 300px;
}

legend {
  padding-top: 10px;
}