/* General styling for the navbar */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  /* Enable scrolling if content exceeds the height */
}

/* Styling for navbar links */
.nav-link {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
}

/* Media query for regular-sized devices (laptops, desktops) */
@media only screen and (min-width: 768px) {

  /* Adjust the positioning and width for larger screens */
  #navbar {
    width: 250px;
  }

  #main-doc {
    margin-left: 250px;
    /* Adjust based on the width of the navbar */
    padding: 20px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 767px) {
  #navbar {
    display: none;
    /* Hide the navbar on smaller screens */
  }

  #main-doc {
    margin-left: 0;
    /* Remove the margin for full width */
    padding: 20px;
    box-sizing: border-box;
  }
}