* {
  font-family: Tahoma, sans-serif;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  /* Enable scrolling if content exceeds the height */
}

#navbar ul {
  list-style: none;
}


.nav-link {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
}

/* Media query for regular-sized devices (laptops, desktops) */
@media only screen and (min-width: 768px) {

  /* Adjust the positioning and width for larger screens */
  #navbar {
    width: 250px;
  }

  #main-doc {
    margin-left: 250px;
    /* Adjust based on the width of the navbar */
    padding: 20px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 767px) {
  #navbar {
    display: none;
    /* Hide the navbar on smaller screens */
  }

  #main-doc {
    margin-left: 0;
    /* Remove the margin for full width */
    padding: 20px;
    box-sizing: border-box;
  }
}

code {
  display: inline-block;
  background-color: #f8f8f8;
  border: 1px solid #333;
  /* Light black border */
  border-radius: 4px;
  padding: 4px;
  /* Adjust padding as needed */
  font-family: 'Courier New', monospace;
  color: #333;
  white-space: pre-wrap;
  /* Preserve formatting, including line breaks */
}